.font-raleway-100 {
    font-family: 'Raleway',sans-serif;
    font-weight: 100;
}
.font-raleway-200 {
    font-family: 'Raleway',sans-serif;
    font-weight: 200;
}
.font-raleway-300 {
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
}
.font-raleway-400 {
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
}
.font-raleway-500 {
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
}
.font-raleway-600 {
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
}
.font-raleway-700 {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
}
.font-raleway-800 {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
}
.font-raleway-900 {
    font-family: 'Raleway',sans-serif;
    font-weight: 900;
}