<body>
    <div class="session">
        <div class="left">
            <svg enable-background="new 0 0 300 302.5" version="1.1" viewBox="0 0 300 302.5" xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg">
                <style type="text/css">
                </style>
            </svg>
        </div>
        <form class="log-in" autocomplete="off">
            <h4>Your <span>Online Notebook</span></h4>
            <p>Log in to access your notes.</p>
            <div class="floating-label">
                <input placeholder="Username" type="text" name="username" id="username" autocomplete="off" [(ngModel)]="username">
                <label for="email">Username:</label>
            </div>
            <div class="floating-label">
                <input placeholder="Password" type="password" name="password" id="password" autocomplete="off" [(ngModel)]="password">
                <label for="password">Password:</label>
            </div>
            <div class="floating-label">
                <input placeholder="Repeat Password" type="password" name="repeatPassword" id="repeatPassword" autocomplete="off" [(ngModel)]="repeatPassword">
                <label for="repeatPassword">Repeat Password:</label>
            </div>
            <button type="submit" (click)="signUp()">Sign Up</button>
        </form>
    </div>
</body>