.book-list-item {
    border: none;
    border: 1px solid grey;
}

.book-list-item.active {
    border: none;
    background-color: #2196f3;
}

.note-list-item {
    border: none;
    border: 1px solid grey;
}

.note-list-item.active {
    border: none;
    background-color: #2196f3;
}