<body class="color-grey height-100vh">
    <h1 class="px-5 py-5 bg-blue-500 fg-white">Welcome {{user.name}}</h1>
    <div class="container-fluid px-5">
        <div class="row pt-3">
            <div class="col-md-3 col-sm-12">
                <div class="list-group mb-3">
                    <button type="button" *ngFor="let book of user.books"
                        class="list-group-item list-group-item-action book-list-item font-raleway-600" (click)="selectBook(book)">
                        <img src="../../../../assets/files/illustrations/book.svg"
                            class="rounded form-icon-size-sm mr-3" alt="Book Icon">
                        {{book.bookTitle}}
                    </button>
                </div>
                <button type="button" class="list-group-item list-group-item-action vertical-center font-raleway-500" data-toggle="modal"
                    data-target="#newBookNameModal" style="border: none;">
                    <img src="../../../../assets/files/illustrations/new.svg" class="rounded form-icon-size-sm mr-3"
                        alt="New Book Icon">
                    New Book
                </button>
            </div>
            <div class="col-md-3 col-sm-12 notes-list">
                <div class="list-group mb-3">
                    <button type="button" *ngFor="let note of currentBook.notes"
                        class="list-group-item list-group-item-action note-list-item font-raleway-600 h5" (click)="openNote(note)">
                            <p class="note-title-preview">
                                <img src="../../../../assets/files/illustrations/note.svg"
                                    class="rounded form-icon-size-sm mr-3" alt="Note Icon">{{note.noteTitle}}</p>
                        <p class="note-content-preview h6 font-raleway-400">{{note.noteContent}}</p>
                    </button>
                </div>
                <button type="button" class="list-group-item list-group-item-action vertical-center font-raleway-500"
                    (click)="createNewNote()" style="border: none;">
                    <img src="../../../../assets/files/illustrations/new.svg" class="rounded form-icon-size-sm mr-3"
                        alt="New Book Icon">
                    New Note
                </button>
            </div>
            <div class="col-md-6 col-sm-12 new-note-input">
                <div class="input-group">
                    <input type="text" class="px-4 py-4 form-control font-raleway-600" placeholder="Title"
                        [(ngModel)]="noteTitle" (input)="onTitleChange($event.target.value)">
                </div>
                <br>
                <div class="overflow-auto">
                    <div class="input-group">
                        <textarea class="px-4 py-4 form-control font-raleway-500" placeholder="Content"
                            style="height: 60vh;" [(ngModel)]="noteContent"
                            (input)="onContentChange($event.target.value)"></textarea>
                    </div>
                </div>
                <div class="row mt-3 mr-1 float-right">
                    <button type="button" class="btn btn-outline-secondary ml-3" (click)="discardNote()"
                        [disabled]="discardDisabled">
                        <img src="../../../../assets/files/illustrations/cancel.svg"
                            class="rounded form-icon-size-sm mr-3" alt="New Book Icon">Discard</button>
                    <button type="button" class="btn btn-primary ml-3" (click)="saveNote()" [disabled]="saveDisabled"><img
                            src="../../../../assets/files/illustrations/save.svg" class="rounded form-icon-size-sm mr-3"
                            alt="New Book Icon">Save</button>
                    <!-- <button type="button" class="btn btn-danger ml-3">Discard</button>
                    <button type="button" class="btn btn-success ml-3">Save</button> -->
                </div>
            </div>
        </div>
    </div>


    <!-- Modals -->
    <div class="modal fade" id="newBookNameModal" tabindex="-1" role="dialog" aria-labelledby="newBookModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newBookModal">Book Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="newBookName"
                            placeholder="Name for your new book" aria-label="Name for your new book"
                            aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="createNewBook()" data-dismiss="modal">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>
</body>